<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sjsu.android.alarmclockplusplus">

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="sjsu.android.alarmclockplusplus.AlarmListDisplayActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sjsu.android.alarmclockplusplus.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            ></activity>
        <activity android:name="sjsu.android.alarmclockplusplus.SetAlarmSettingsActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="sjsu.android.alarmclockplusplus.SoundSelectorActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="sjsu.android.alarmclockplusplus.SnoozeActivity"
            android:screenOrientation="portrait"
            ></activity>
        <receiver
            android:name=".AlarmBroadcastReceiver"
            ></receiver>
        <service android:name=".AlarmRingService"></service>
    </application>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>